body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/Fondo.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

form {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;

}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.form-label {
    display: flex;
    align-items: center;
}
.form-label i {
    margin-right: 5px;
}
.btn .material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

