<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Facturación - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Crear cliente:</h1>
        <form action="{{ url_for('agregar_cliente') }}" method="post">
            <label for="razon_social">Razon Social:</label>
            <input type="text" name="razon_social" id="razon_social" required>
            <label for="ruc">RUC:</label>
            <input type="numbre" name="ruc" id="ruc" min="0" step="1" required>
            <button type="submit">Crear Cliente</button>
        </form>
        <hr>
        <h1>Ingrese los productos:</h1>
        <form action="{{ url_for('agregar_producto') }}" method="post">
            <label for="nombre_producto">Nombre del Producto:</label>
            <input type="text" name="nombre_producto" id="nombre_producto" required>
            <label for="precio_producto">Precio Unitario:</label>
            <input type="number" name="precio_producto" id="precio_producto" min="0" step="0.01" required>
            <label for="cantidad_producto">Cantidad:</label>
            <input type="number" name="cantidad_producto" id="cantidad_producto" min="1" required>
            <button type="submit">Agregar Producto</button>
        </form>
        <hr>
        <form action="{{ url_for('generar_factura') }}" method="post">
            <h1>Resumen de la Factura:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Imprimir Factura</button>
        </form>
    </div>
</body>
</html>
